/*UNIVERSAL STYLES*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

*:focus{
    outline: 2px dashed #ff7500;
    outline-offset: 3px;
}

.btn{
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    background-color: #ff7500;
    transition: opacity 0.4s ease;
    padding: 12px 24px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;

}

.btn:hover{
    opacity: 0.8;
}

.btn:active{
    opacity: 0.6;
}

.orange-line{
    width: 80px;
    height: 3px;
    background: #ff7500;
    border: none;
}


/*HEADING STYLES*/

header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid #ff7500;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-link{
    transition: opacity 0.4s ease;
}

.logo-link:hover{
    opacity: 0.8;
}

.logo-link:active{
    opacity: 0.6;
}

.header-right{
    display: flex;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    padding: 0;
}

.header-link{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.header-link:hover{
    color: #ff7500;
}

.header-link:active{
    opacity: 0.6;
}


/*HERO PART STYLES*/

.hero{
    background: #252420;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 80px;
    padding-bottom: 80px;
}

.hero-content{
    width: 390px; 
    color: #fff;   
}

.hero-heading{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    line-height: 120%;
}

.hero-img{
    border-radius: 8px;
    height: 510px;
    width: 510px;
    object-fit: cover;
}

/*FEATURES SECTION STYLES*/

.features{
    background-color: #fff;
    color: #000;
    padding-bottom: 210px;
    padding-top: 210px;
}

.features-heading{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 72px;
    line-height: 120%;
}

.features-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.feature{
    width: 340px;
}

.icon-heading{
    font-size: 24px;
    line-height: 120%;
}

.feature-icon-wrapper{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

.features-title{
    font-size: 24px;
    line-height: 120%;
    font-family: 'Roboto Condensed', sans-serif;
}

/*SALE SECTION STYLES*/

.sale{
    background: #252420;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 160px;
    border-radius: 12px;
}

.sale-content{
    width: 440px;
}

.sale-heading{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: 48px;
    line-height: 1.2;
}

.sale-img{
    border-radius: 12px;
    object-fit: cover;
    width: 440px;
    height: 440px;
}

.sale-highlight{
    color: #ff7500;
}


/*FOOTER PART STYLES*/

footer{
    background-color: #f8f8f8;
    color: #000;
    padding-bottom: 56px;
    padding-top: 56px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-divider{
    height: 2px;
    background-color: rgba(37, 36, 32, 0,5);
    border: none;
}

.social-networks{
    list-style: none;
    display: flex;
    padding: 0;
}

.social-network-icon{
    color: #252420;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.social-network-icon:hover{
    color: #ff7500;
}

.social-network-icon:active{
    opacity: 0.6;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
}

.footer-links{
    list-style: none;
    width: 224px;
    padding: 0;
}

.footer-link{
    font-style: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease, opacity 0.4s ease-in;
}

.footer-link:hover{
    color: #ff7500;
}

.footer-link:active{
    opacity: 0.6;
}